@keyframes fadeIn {
  from {
    opacity: 0;
    filter: blur(5px);
  }

  to {
    opacity: 1;
    filter: none;
  }
}

@keyframes fadeInTop {
  from {
    margin-top: -2rem;
    opacity: 0;
    filter: blur(5px);
  }

  to {
    margin-top: 0;
    opacity: 1;
    filter: none;
  }
}

.heroWrapper {
  opacity: 0;
  animation: fadeIn 2s ease forwards;
}

.chrImg {
  margin-top: -2rem;
  opacity: 0;
  animation: fadeInTop 2s ease forwards;
  animation-delay: 1.3s;
}
